/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #72361e !important;
  --toolbarbutton-icon-fill: #ffb59b !important;
  --toolbar-field-color: #f1dfd9 !important;
  --tab-selected-textcolor: #ffb59b !important;
  --toolbar-color: #f1dfd9 !important;
  --arrowpanel-color: #f1dfd9 !important;
  --arrowpanel-background: #271d1a !important;
  --sidebar-text-color: #f1dfd9 !important;
/*  --zen-main-browser-background: #1a110e !important; */
}

.sidebar-placesTree {
  background-color: #271d1a !important;
}

#zen-workspaces-button {
  background-color: #271d1a !important;
}

#TabsToolbar {
  background-color: #1a110e !important;
}

.urlbar-background {
  background-color: #271d1a !important;
}

.urlbar-input::selection {
  color: #55200a !important;
  background-color: #ffb59b !important;
}

.urlbarView-url {
  color: #d8c2bb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb59b
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc2a6 !important;
  --identity-icon-color: #ffc2a6 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb59b !important;
  --identity-icon-color: #ffb59b !important;
}

.identity-color-green {
  --identity-tab-color: #ace086 !important;
  --identity-icon-color: #ace086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8bf97 !important;
  --identity-icon-color: #e8bf97 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbab7b !important;
  --identity-icon-color: #dbab7b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f93 !important;
  --identity-icon-color: #e05f93 !important;
}

.identity-color-pink {
  --identity-tab-color: #b95f56 !important;
  --identity-icon-color: #b95f56 !important;
}

.identity-color-purple {
  --identity-tab-color: #bf9283 !important;
  --identity-icon-color: #bf9283 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a110e !important;
}
