* {
  bg0: #1c1f20;
  bg1: #3c3836;
  fg0: #ebdbb2;
  fg1: #a89984;

  red: #cc241d;
  red-trans: #cc241d15;
  green: #ebdbb2;
  green-trans: #ebdbb215;
  yellow: #d79921;
  yellow-trans: #d7992115;
  blue: #d79921;
  blue-trans: #d7992115;
  purple: #cc241d;
  purple-trans: #cc241d15;
  aqua: #ebdbb2;
  aqua-trans: #ebdbb215;
}
