* {
  bg0: #1d1f21;
  bg1: #1d1f21;
  fg0: #c5c8c6;
  fg1: #c5c8c6;

  red: #cc6666;
  red-trans: #cc666615;
  green: #b5bd68;
  green-trans: #b5bd6815;
  yellow: #f0c674;
  yellow-trans: #f0c67415;
  blue: #81a2be;
  blue-trans: #81a2be15;
  purple: #b294bb;
  purple-trans: #b294bb15;
  aqua: #8abeb7;
  aqua-trans: #8abeb715;
}